
<div class="sidebar" data-background-color="dark">
	<div class="sidebar-logo">
		<!-- Logo Header -->
		<div class="logo-header" data-background-color="dark">

			<a href="/index.html" class="logo">
				<img src="/admin/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20">
			</a>
			<div class="nav-toggle">
				<button class="btn btn-toggle toggle-sidebar">
					<i class="gg-menu-right"></i>
				</button>
				<button class="btn btn-toggle sidenav-toggler">
					<i class="gg-menu-left"></i>
				</button>
			</div>
			<button class="topbar-toggler more">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
		<!-- End Logo Header -->
	</div>
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-secondary">
				<li class="nav-item">
					<a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
						<i class="fas fa-home"></i>
						<p>Dashboard</p>
						<span class="caret"></span>
					</a>
				</li>
	
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-solid fa-layer-group"></i>
						<p>Category</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-brands fa-product-hunt"></i>
						<p>Product</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-solid fa-sliders"></i>
						<p>Slider</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-regular fa-address-card"></i>
						<p>About Us</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-solid fa-earth-americas"></i>
						<p>Feature</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-regular fa-message"></i>
						<p>Customer Comment</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-solid fa-inbox"></i>
						<p>Message Inbox</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-solid fa-message"></i>
						<p>Message Sendbox</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-solid fa-hashtag"></i>
						<p>Social Media</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-solid fa-gear"></i>
						<p>Settings</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/widgets.html">
						<i class="fa-solid fa-right-from-bracket"></i>
						<p>Log out</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>